
.circular-image {
    border-radius: 50%;
}
.col{
    height: 100% !important;
}
.posted-by-title{
   padding: 5px;
   font-size: 20px;
}
.ellipsis-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .announcement-list{
    height: 70vh;
    max-height: 70vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    padding-top: 0;
  }
  #announcement-container {
    height: 60vh;
    max-height: 60vh;
    border: none;
  }

  /* .announcement-cards-list, .event-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 65vh;
  } */

    .event-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 65vh;

  }


  /* .announcement-card {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    height: 220px;
  } */

  .announcement-card {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    width: 100%;
    margin-bottom: 15px;
  }

  .view-button {
    background-color: transparent;
    color: #9b9b9b;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: auto;
    align-self: flex-end;
    font-size: 20px;
  }
/* Media Query for screens with a maximum width of 768 pixels */
@media only screen and (max-width: 768px) {

    .posted-by-title {
      padding: 3px;
    }

    .ellipsis-button {
      top: 5px;
      right: 5px;
    }

  }
  /* @media only screen and (min-width: 768px) and (max-width: 1366px) {

      .posted-by-title {
        padding: 3px;
      }

      .ellipsis-button {
        top: 5px;
        right: 5px;
      }
  } */
