body {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: #4a5864;
    background-color: #f3f7fb;
    /* opacity: 0; */
    animation: fadeIn 1s ease-in-out forwards;
}

.top-nav {
position: absolute;
width: 100%;
top: 0;
background-color: #42b385;
color: #ffffff;
padding: 0.875rem;
display: flex;
justify-content: space-between;
align-items: center;
height: 3.125rem;

}
.top-nav {
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    margin-right: 0.625rem;
    z-index: 9999;
}

/* .container{
    max-width: 1000px;
} */
/* .container{
    padding-top: 4rem 0;
} */
.content{
padding: 15px;
}

.page-container{
   margin-top: 50px;
}
/*
body::after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('https://isms.cmu.edu.ph/general/getThemePhoto?tid=1&field=login_bg') center center/cover no-repeat;
    filter: blur(1px);
    filter: saturate(90%);
    opacity: 0.8;
    z-index: -1;
    animation: fadeInOverlay 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInOverlay {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.8;
    }
} */

/* Rest of your CSS remains unchanged */

/* .top-nav {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #42b385;
    color: #ffffff;
    padding: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.125rem;

}
.top-nav {
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    margin-right: 0.625rem;
} */
.login-wrap {
    /* max-width: 500px; */
    width: 950px;
    /* margin: 150px auto 0; */
    background-color: #fff;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
    padding: 30px;
    border-radius: 5px;
  }
.col{
    width: 100%;
}

  .login-form .form-group {
    margin-bottom: 20px;
  }

  .login-form label {
    font-weight: bold;
  }

  .login-form .input-group-prepend .input-group-text {
    background-color: #fff;
  }

  .login-form .form-control {
    border-radius: 3px;
    border-color: #ccc;
  }

  .login-form .submit {
    background-color: #42B385;
    border-color: #42B385;
    font-weight: bold;
  }

  .login-form .submit:hover {
    background-color: #53967c;
    border-color: #53967c;
  }

  .login-form a {
    color: #53967c;
  }

  .login-form a:hover {
    color: #48be8f;
  }

  .login-wrap h5 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    color: #42B385;
  }

  .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  .image-container{
    padding-left: 100px;
  }
.login-image img{
    height: 500px;
}
  .logo img {
    width: 100px;
  }
  .flex-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: center; /* Center the content horizontally */
    height: 100vh; /* Optional: Set a specific height for the container */
}
/* @media (min-width: 992px){
    .container{
        max-width: 960px;
    }
    .image-container img{
        max-width: 500px;

    }
} */
  @media (max-width: 768px) {
    .h3{
        font-size: 15px !important;
    }
    .b{
        font-size: 15px !important;
    }
    body {
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        color: #4a5864;
        opacity: 0;
        animation: fadeIn 1s ease-in-out forwards;
    }
.login-image{
    display: none;
}
    /* body::after {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('https://isms.cmu.edu.ph/general/getThemePhoto?tid=1&field=login_bg') center center/cover no-repeat;
        opacity: 0.8;
        z-index: -1;
        animation: fadeInOverlay 1s ease-in-out forwards;
    } */

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @keyframes fadeInOverlay {
        from {
            opacity: 0;
        }
        to {
            opacity: 0.8;
        }
    }

  }
