
body {
    background-color: #f3f7fb;
    /* background-image: url('/assets/loginbg.png'); */
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: #4a5864;
}
/* .top-nav {
    position: absolute;
    width: 100%;
    top: 0;
    background-color: #42b385;
    color: #ffffff;
    padding: 0.875rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.125rem;

}
.top-nav {
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    margin-right: 0.625rem;
} */
.login-wrap {
    max-width: 400px;
    margin: 100px auto 0;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
  }

  .login-form .form-group {
    margin-bottom: 20px;
  }

  .login-form label {
    font-weight: bold;
  }

  .login-form .input-group-prepend .input-group-text {
    background-color: #fff;
  }

  .login-form .form-control {
    border-radius: 3px;
    border-color: #ccc;
  }

  .login-form .submit {
    background-color: #42B385;
    border-color: #42B385;
    font-weight: bold;
  }

  .login-form .submit:hover {
    background-color: #53967c;
    border-color: #53967c;
  }

  .login-form a {
    color: #53967c;
  }

  .login-form a:hover {
    color: #48be8f;
  }

  .login-wrap h5 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    color: #42B385;
  }

  .logo {
    text-align: center;
    margin-bottom: 20px;
  }

  .logo img {
    width: 100px; /* Adjust the width as needed */
  }
  @media (max-width: 768px) {
    .h3{
        font-size: 15px !important;
    }
    .b{
        font-size: 15px !important;
    }
  }
