.card{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.top-nav {
position: absolute;
width: 100%;
top: 0;
background-color: #42b385;
color: #ffffff;
padding: 0.875rem;
display: flex;
justify-content: space-between;
align-items: center;
height: 3.125rem;

}
.top-nav {
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    margin-right: 0.625rem;

}
body{
    background-color: #f3f7fb;
}
.page-container{
margin-top: 30px;

}
thead {
background-color: rgb(119, 177, 165) !important;
color: #f7f7f7;
position: sticky;
z-index: 100;
height: 30px;
top: 0;
}
.fa-search{
color: #42b385;
}
.select-dropdown{
border-radius: 10px;
margin-top: 10px;
position: relative;
box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

}
.select-dropdown select {
width: 100%;
height: 80%;
padding: 10px;
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
cursor: pointer;
text-align: center;
border: none;
background-color: white;
}

.page-content-wrapper{
float: left;
width: 80%;
transition: margin 0.3s;
padding: 10px 20px 10px 10px !important;
}
.content{
margin-top: 30px;
padding: 15px;
}
.table-container {
max-height: 350px;
height: 350px;
overflow-y: auto;
}
.btn{
border: none;
}
.btn-danger{
background-color: #f1625f !important;
color: #ffff;
}
.btn-success{
background-color: #347961 !important;
color: #ffff;
}

.btn-secondary{
background-color: #e0e0e1 !important;
color: #4a5864;
transition: background-color 0.3s, color 0.3s;
}
.btn-secondary:hover {
background-color: #a8a8a9 !important;
}
.button-secondary{
background-color: #e9eef3;
}

.input-container input {
padding-left: 30px;
width: 70%;
height: 90%;
border-radius: 10px;
border: none;
background-color: white;
box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.select-dropdown {
width: 50%;
margin-bottom: 10px;
}
.input-container {
position: relative;
}

.input-container i {
position: absolute;
left: 10px;
top: 50%;
transform: translateY(-50%);
}
.head-container {
display: flex;
width: 100%;
justify-content: space-between;
align-items: center;
}
.input-container input {
width: 100%;
height: 50px;
}
/* Arrow icon */
.select-dropdown::after {
content: '\25BC';
font-size: 12px;
position: absolute;
top: 50%;
right: 10px;
transform: translateY(-50%);
pointer-events: none;
}
.table{
padding: 10px;
}
#statistic{
    align-items: center;
}
.statistic {
padding: 10px;
margin-left: 3px;
width: 100%;
height: 90%;
background-color: #ffffff;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.card-icon {
font-size: 30px;
padding: 5px;
/* margin-right: 10px; */
flex-shrink: 0;
}
.stat-label {
color: #000000;
font-size: small;
padding-left: 10px;
margin-bottom: 5px;
}
.load-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 25vh;
    overflow-y: hidden;
    margin-top: 20vh;
  }
#stat-cards-loading{
    margin-left: 1.25rem;
}
.stat-number {
font-size: 25px;
color: #15292B;
margin-left: 10px;
}
.square-span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #60b192;
    border-radius: 10px;
  }

  .square-span i {
    color: #fff;
    font-size: 24px;
  }
.card{
    border: none;
}
