
  #calendar {
    border-radius: 10px;
    border: none;
    padding: 15px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
    height: 80vh;
    bottom: 0;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.schedule-card{
    border: white, 1px;
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    height: 150px;

}

#calendar th{
    background-color: #198754;
    color: white;
}
.fc-col-header-cell-cushion{
    color: white;
    margin: 0;
}
.fc-dayGridMonth-view{
    height: 70vh;
    margin-top: 0;
}
.fc-header-toolbar{
    margin: 0;
    padding-bottom: 0;
}

#calendar a{
    text-decoration: none;
}

#calendar h2{
    font-size: 18px;
}
#calendar a{
    font-size: 13px;
}
#calendar button{
    color: white;
    background-color: #198754;
    border: none;
    height: auto;
    width: auto;
    font-size: 12px;
}
.card-text{
    margin-left: 20px;
}
#record-container {
    height: 65vh;
    max-height: 65vh;
    border: none;
    padding: 0;

}
.recorded-event-cards{
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 65vh;
}

.record-card {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    width: calc(33.33% - 20px);
    height: 200px;
  }

.schedule-list-container{
    height: 80vh;
    max-height: 80vh;
    overflow: auto;
}

  .record-title {
    font-size: 1.2rem;
    margin-top: 10px;
  }

  .record-date-container {
    background-color: #42b385;
    color: #ffffff;
    border-radius: 20px;
    padding: 4px 10px;
    display: inline-block;
    margin-bottom: 10px;
    justify-content: center;
    width: 200px;
    text-align: center;
  }

  .event-date {
    font-size: 1rem;
  }

  .record-description {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 10px;
  }

  .view-button {
    background-color: transparent;
    color: #9b9b9b;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: auto;
    align-self: flex-end;
    font-size: 20px;
  }
  #ScheduledEventContainer{
    margin-top: auto;
  }
  #ScheduledEventContainer {
    margin-top: auto;
  }

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    .record-card {
        width: 100%;
    }

    .record-date-container {
        width: auto;
    }
    #calendar {
        font-size: 10px;
        height: 50vh;
        margin-bottom: 10px;
    }
    .btn-success{
        margin-top: 30px;
    }
}
