
.card {
    max-height: 200px;
    overflow: hidden;
    border: none;
}

#calendar {
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    height: 100%;
    max-height: 48h;
    bottom: 0;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.fc-header-toolbar .fc-toolbar{
    padding: 0;
    margin: 0;
}
#calendar th{
    background-color: #60b192;
    color: white;
}
.fc-col-header-cell-cushion{
    color: white;
    margin: 0;
}
.fc-dayGridMonth-view{
    height: 40vh;
    margin-top: 0;
}
.fc-header-toolbar{
    margin: 0;
    padding-bottom: 0;
}

#calendar a{
    text-decoration: none;
}

#calendar h2{
    color: #52a183;
}
#calendar a{
    font-size: 13px;
}
#calendar button{
    border: none;
    height: auto;
    width: auto;
}
.card-text{
    margin-left: 20px;
}
.welcome-card, .welcome-card-student {
    background-image: url('/assets/banner.png');
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    border: none;
    border-radius: 10px;
    width: 100%;
    height: 33vh;
    position: relative;
    /* box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px; */
}
.welcome-card-student {
    background-image: url('/assets/banner.png');
    background-size: 100% 100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px;
    border: none;
    border-radius: 10px;
    width: 100%;

    position: relative;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); */
}

.welcome-text {
    padding: 5px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* .announcement {
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
} */
.announcement-header, .timeline-header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
    padding: 5px;
    border-bottom: 1px solid #cfcfcf;
}
/* .announcement-list{
    margin-top: 10px;
    max-height: 45vh;
    overflow: auto;
    padding: 10px;
} */
.announcement-card{
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    padding: 10px;
    margin-bottom: 10px;
}
.Schedule{
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
}
.Schedule-event {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px;
}

.Schedule-event-title {
    flex: 0 0 100px;
    text-align: center;
    color: #555;
}

.Schedule-event-details {
    flex: 1;
    padding-left: 20px;
}


small {
    color: #777;
}
.announcement-container{
padding: 10px;
margin-top: 5px;
}
#statistic{
    align-items: center;
}
.statistic {
padding: 10px;
margin-left: 3px;
width: 100%;
height: 90%;
background-color: #ffffff;
border-radius: 10px;
box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.card-icon {
font-size: 30px;
padding: 5px;
/* margin-right: 10px; */
flex-shrink: 0;
}
.stat-label {
color: #000000;
font-size: small;
padding-left: 10px;
margin-bottom: 5px;
}
.load-center{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 25vh;
    overflow-y: hidden;
    margin-top: 20vh;
  }
#stat-cards-loading{
    margin-left: 1.25rem;
}
.stat-number {
font-size: 25px;
color: #15292B;
margin-left: 10px;
}
.square-span {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #60b192;
    border-radius: 10px;
  }

  .square-span i {
    color: #fff;
    font-size: 24px;
  }


ul, li{
  list-style: none;
  padding: 0;
}
.timeline-schedule-container{
    align-items: center;
    padding: 0 1rem;
    padding: 3rem 0;
  }
.timeline-schedule, .announcement{
 background-color: #ffffff;
  padding: 10px;
  border-radius: 15px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
h1{
  font-size: 1.1rem;

}
.sessions{
  border-radius: 12px;
  position: relative;
}
.timeline-body, .announcement-list{
    margin-top: 5px;
    max-height: 45vh;
    overflow-y: auto;
}
.timeline-schedule li{
  padding-bottom: 1.5rem;
  border-left: 1px solid #60b192;
  position: relative;
  padding-left: 20px;
  margin-left: 10px;
  &:last-child{
    border: 0px;
    padding-bottom: 0;
  }
  &:before{
    content: '';
    width: 15px;
    height: 15px;
    background: white;
    border: 1px solid #439756;
    box-shadow: 3px 3px 0px #bab5f8;
    box-shadow: 3px 3px 0px #bab5f8;
    border-radius: 50%;
    position: absolute;
    left: -10px;
    top: 0px;
  }
}
.date{ /* Change .time to .date */
  color: #2a2839;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  @include mobile-and-up{
    font-size: .9rem;
  }
  @include mobile-only{
    margin-bottom: .3rem;
    font-size: 0.85rem;
  }

}
small{ /* Change <p> to <small> */
  color: #4f4f4f;
  font-family: sans-serif;
  line-height: 1.5;
  margin-top:0.4rem;
  @include mobile-only{
    font-size: .9rem;
  }
}
/* Media query for screens with a maximum width of 768px */
/* @media screen and (max-width: 768px) { */
    @media screen and (max-width: 768px) {
        .p{
            font-size: 10px;
        }
        .stat-number{
            font-size: 20px;
        }
    #events {
        padding: 10px;
        width: 90%;
        margin-right: 10px;
    }

    .card {
        max-height: 150px;
        margin-top: 5px;
    }

    #calendar {
        font-size: 10px;
        height: 50vh;
    }

    .welcome-card {
        margin-top: 10px;
        /* background-image: url('/assets/welcomesmall.png'); */
        background-image: url('/assets/bannersmall.png');
        padding: 20px;
        height: 25vh;
        background-size: cover;
    }
    .welcome-card-student{
        height: 25vh;
        background-image: url('/assets/bannersmall.png');
        margin-top: 10px;
    }

    .welcome-text {
        bottom: 5px;
        left: 5px;
        font-size: 17px;
    }

    .Schedule {
        max-height: 300px;
    }

    .Schedule-event-title {
        flex: 0 0 80px;
    }

    .statistic {
        margin-left: 0;
        margin-top: 5px;
    }
    .stat-number{
        font-size: 17px;
    }

    .square-span {
        width: 40px;
        height: 40px;
    }

    .square-span i {
        font-size: 20px;
    }
    .timeline-schedule, .announcement{
        height: 30vh;
        max-height: 30vh;
        overflow-y: hidden;
        font-size: 15px;
    }
    .timeline-body, .announcement-list{
        max-height: 25vh;
        overflow-y: auto;
    }
    .Message-IfEmpty, .Dashboard-IfEmpty {
        text-align: center;
        padding: 10px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        margin: auto;
        margin-top: 15%;
    }
    .sessions{
        font-size: 14px;
    }
}
