#event-container {
    height: 70%;
    overflow-y: auto;
    border: none;
  }
  .event-list{
    height: 71vh;
    max-height: 71vh;
  }

  .event-cards-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: 30px;
    max-height: 72vh;
  }


  .event-card {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    width: calc(33.33% - 30px);
    /* width: 25%; */
  }


  .ellipsis-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  /* #event-announcement-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cfcfcf;
  } */

  .add-event-button h3 {
    margin: 0;
  }

  .add-event-button button {
    margin-left: auto;
  }
  .view-button {
    background-color: transparent;
    color: #f8f8f8;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    align-self: flex-end;
    font-size: 20px;
  }
/*
  .card-actions {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .ellipsis-button {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    color: #6c757d;
  } */

  #event-spinner{
    justify-items: center;
    align-items: center;
  }

/* Media query for smaller screens (e.g., screens with a max-width of 768px) */
@media screen and (max-width: 768px) {
    /* Adjust your CSS rules for smaller screens here */
    .card-title {
        justify-content: left;
        top: 20px;
        color: rgb(27, 116, 175);
        font-size: 1rem;
      }
    .card-text{
        font-size: 0.9rem;
    }

    .btn-group{
        margin-right: 0;
        padding: 5px;
    }
    .event-card {
        width: 100%;
      }
}
/* @media only screen and (min-width: 768px) and (max-width: 1366px) {
    .event-list, .event-container{
        height: 55vh;
        max-height: 55vh;
        overflow-y: auto;
    }
    .card-title {
        justify-content: left;
        top: 20px;
        color: rgb(27, 116, 175);
        font-size: 1rem;
      }
    .card-text{
        font-size: 0.9rem;
    }

    .btn-group{
        margin-right: 0;
        padding: 5px;
    }
    .event-card {
        width: calc(50% - 20px);
        height: auto;
      }
} */
