#event-container {
    height: 60vh;
    max-height: 60vh;
    border: none;
  }

  .event-cards-list, .event-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 65vh;
  }

  .event-card {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    height: 200px;
  }


  .ellipsis-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  /* #event-announcement-buttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #cfcfcf;
  } */

  .add-event-button h3 {
    margin: 0;
  }

  .add-event-button button {
    margin-left: auto;
  }
  .view-button {
    background-color: transparent;
    color: #9b9b9b;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: auto;
    align-self: flex-end;
    font-size: 20px;
  }
/*
  .card-actions {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .ellipsis-button {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    cursor: pointer;
    color: #6c757d;
  } */

  #event-spinner{
    justify-items: center;
    align-items: center;
  }

/* Media query for smaller screens (e.g., screens with a max-width of 768px) */
@media screen and (max-width: 768px) {
    /* Adjust your CSS rules for smaller screens here */
    .card-title {
        justify-content: left;
        top: 20px;
        color: rgb(27, 116, 175);
        font-size: 1rem;
      }
    .card-text{
        font-size: 0.9rem;
    }

    .btn-group{
        margin-right: 0;
        padding: 5px;
    }
    .event-card {
        width: calc(50% - 20px);
      }
}


@media (max-width: 768px) {

  }

  @media (max-width: 480px) {
    .event-card {
      width: 100%;
    }
  }

