

#events-container {
    background-color: #ffffff;
    padding: 5px;
    height: 70vh;
    max-height: 70vh;
    border: none;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }

  .event-cards {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    overflow-y: auto;
    margin-top: 10px;
    max-height: 65vh;
  }

  .event-card {
    background-color: #ffffff;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin: 10px; /* Add space around the cards */
    width: calc(33.33% - 20px);
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }


  .event-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }

  .event-date-container {
    background-color: #69a09d ;
    color: #ffffff;
    border-radius: 20px;
    padding: 4px 10px;
    display: inline-block;
    margin-bottom: 10px;
    justify-content: center;
    width: 200px;
    text-align: center;
  }

  .event-date {
    font-size: 1rem;
  }

  .event-description {
    font-size: 1rem;
    color: #555555;
    margin-bottom: 10px;
  }

  .view-button {
    background-color: transparent;
    color: #9b9b9b;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: auto;
    align-self: flex-end;
    font-size: 20px;
  }

  .button-icon {
    margin-left: 6px;
    display: inline-block;
  }

  /* evaluation result stylesheet */
  .flex-container {
    display: flex;
    flex-wrap: wrap;
  }
  .chart-container {
    flex: 1 0 300px;
  }
  h2 {
    text-align: center;
  }
  h4 {
    margin: 0;
  }

  .piechart{
    width: 410px;
    height: 300px;
  }

  /* Sort Button */
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

select {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Custom CSS for the option icons */
option {
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position: center left;
    font-size: small;
}
