
.card {
    text-align: center;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
}

.nav-tabs {
    margin-top: 20px;
}

.nav-item {
    width: 50%;
    text-align: center;
}

.tab-content {
    padding: 20px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: white;
}



#organization {
    padding: 10px;

}
.qr-code {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    height: 50vh;
}


.student-info, .org-under-info{
    padding: 10px;
    height: 32vh;
    max-height: 32vh;
    overflow-y: auto;
}

.student-org-info{
    padding: 10px;
    height: 25vh;
    max-height: 25vh;
    overflow-y: auto;
}
.qrcode-img {
    margin-top: 30px;
    height: 30vh;
    width: auto;
    padding: 10px;
}
.student-details {
    padding: 20px;
    width: 100%;
}
.qr-code h5{
    font-weight: bold;
}
.qr-code h5, small{
    text-align: center;
    margin-top: 10px;
    padding: 0;
}
.student-details.flex {
    display: flex;
    justify-content: space-between;
}
.student-details p{
    margin: 2px;
}


/* Student Organization CSS */
.profile {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    height: 50vh;
}


.profile img {
    margin-top: 10px;
    width: 30vh;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}

.roles {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: white;
    height: 30vh;
    max-height: 30vh;
    overflow-y: auto;
}

.org-officers,
.roles .organization-partners{
    flex: 1;
    margin-right: 20px;
}
.organization-details{
    display: flex;
    height: 36.5vh;
    max-height: 65vh;
    overflow-y: auto;
}




@media (max-width: 768px) {


    .qr-code {
        text-align: center;
        margin-top: 20px;
        padding: 10px;
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        background-color: white;
        height: auto;
    }


    .qrcode-img {
        margin-top: 20px;
        width: auto;
        padding: 10px;
    }

    .qr-code h5 {
        font-weight: bold;
    }

    .qr-code h5,
    small {
        text-align: center;
        margin-top: 10px;
        padding: 0;
    }

    .profile img {
        width: 70%;
        margin: 10px auto;
    }

    .profile {
        height: auto;
    }
}
