
#evaluation-form {
  width: 100%;
  max-height: 100vh;
  margin-top: 50px;
  padding: 20px;
  background-color: #ffffff;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

/* .btn{
    padding: 2px;
} */
h6{
    font-weight: bold;
}
.evaluation-header h2 {
  color: #333;
  text-align: center;
}
.evaluation-body {
  height: 50vh;
  margin: 0;
  padding: 5px;
}
.form-group {
  margin-top: 10px;
}
select.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
hr {
  border: 1px solid #ccc;
}
small {
  font-size: 12px;
}
label {
  font-size: 15px;
}
select.form-control {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* Add custom arrow */
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 16 16'><path d='M6 8.5l-3-3-1.41 1.41L6 10.33l4.41-4.42L9 5.5l-3 3z' fill='%23333'/></svg>");
  background-repeat: no-repeat;
  background-position: right center;
}
