
#events {
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-height: 430px;
    margin-right: 20px;
}
.card {
    max-height: 200px;
    overflow: hidden;
}

#calendar {
    font-size: 12px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 800px;
    height: 69vh;
    margin: 0 auto;
}
.flex-container {
    display: flex;

}

.welcome-card, .welcome-card-student {
background-image: url('https://img.freepik.com/premium-vector/abstract-geometric-shapes-background-memphis-style_23-2148370310.jpg?w=2000');
color: white; /* Adjust text color for better contrast */
padding: 20px;
border: none;
height: 500px;
border-radius: 10px;
}


.breadcrumbs {
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.breadcrumb-item a {
    color: #0074D9;
    text-decoration: none;
    transition: color 0.3s ease;
}
.student-profile-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.additional-info-card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.event-list{
    justify-content: left;
}


.timeline {
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.event {
    display: flex;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px;
}

.event-date {
    flex: 0 0 100px;
    text-align: center;
    color: #555;
}

.event-details {
    flex: 1;
    padding-left: 20px;
}


p {
    margin: 5px 0;
    color: #777;
}
@media screen and (max-width: 768px) {
    .p{
        font-size: 10px;
    }
    .stat-number{
        font-size: 20px;
    }
#events {
    padding: 10px;
    width: 90%;
    margin-right: 10px;
}

.card {
    max-height: 150px;
    margin-top: 5px;
}

#calendar {
    font-size: 10px;
    height: 50vh;
    margin-bottom: 10px;
}

.welcome-card-student {
    margin-top: 10px;
    /* background-image: url('/assets/welcomesmall.png'); */
    background-image: url('/assets/bannersmall.png');
    padding: 20px;
    height: 10vh;
    background-size: cover;
    height: 20vh;
}

.welcome-text {
    bottom: 5px;
    left: 5px;
    font-size: 10px;
}

.Schedule {
    max-height: 300px;
}

.Schedule-event-title {
    flex: 0 0 80px;
}

.statistic {
    margin-left: 0;
    margin-top: 5px;
}

.square-span {
    width: 40px;
    height: 40px;
}

.square-span i {
    font-size: 20px;
}
.timeline-schedule, .announcement{
    height: 30vh;
    max-height: 30vh;
    overflow-y: hidden;
}
.timeline-body{
    max-height: 25vh;
    overflow-y: auto;
}
.Message-IfEmpty, .Dashboard-IfEmpty {
    text-align: center;
    padding: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    margin: auto;
    margin-top: 15%;
}

}
