.evaluation-list {
    max-height: 70vh;
    height: 70vh;
    }
.evaluation-cards-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 70vh;
    height: 70vh;
  }

  .evaluation-attendance-card{
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    width: calc(33.33% - 20px);
    height: auto;
    max-height: 230px;
  }
  .bottom-right-content {
    position: absolute;
    bottom: 0;
    right: 0;

}
.circular-image {
    border-radius: 50%;
}
.posted-by-title{
    padding: 5px;
 }



#evaluation-form {
  width: 100%;
  height: 100vh;
  padding-top: 20px;
  background-color: #ffffff;
  overflow: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

/* .btn{
    padding: 2px;
} */
h6{
    font-weight: bold;
}
.evaluation-header h2 {
  color: #333;
  text-align: center;
}
.evaluation-body {

  width: 100%;
  margin: 0;
  padding: 5px;
}
.form-group {
  margin-top: 10px;
}
select.form-control {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
hr {
  border: 1px solid #ccc;
}
small {
  font-size: 12px;
}
label {
  font-size: 15px;
}
select.form-control {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  /* Add custom arrow */
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 16 16'><path d='M6 8.5l-3-3-1.41 1.41L6 10.33l4.41-4.42L9 5.5l-3 3z' fill='%23333'/></svg>");
  background-repeat: no-repeat;
  background-position: right center;
}
/* Add your existing styles here */

@media (max-width: 767px) {
    .evaluation-attendance-card {
        width: 100%;
        margin-bottom: 15px;
        height: 250px;
    }

    .card-body {
        padding: 15px;
    }
    h5{
        font-size: 15px;
    }
    .btn{
        font-size: 13px !important;
    }

}
