
.card {
    text-align: center;
    /* box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1); */
}
#dropdownMenuButton{
    background-color: rgb(231, 236, 236);
    border: 1px, black;
}
table{
    width: 100%;
    border-left: 1px solid #ffffff !important;
    border-right: 1px solid #ffffff !important;
}
td{
    border-left: 1px solid #ffffff !important;
    border-right: 1px solid #ffffff !important;
}
th{
    background-color: #8bbdae !important;
    color: #fff !important;
    border-right: none !important;
}
#dropdown-org{
    height: 20vh;
    max-height: 20vh;
    overflow-y: auto;
    width: 50%;
}
.option-btn {
    background-color: #cbd0d4;
    color: #000000;
    border-radius: 20px;
    border: none;
    padding: 4px 10px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s;
  }
  .option-btn:hover {
    background-color: #4a8c78; /* Change color on hover */
    color: white;
  }

  .option-btn.active {
    background-color: #2f755c;
    color: white;
  }

.nav-tabs {
    margin-top: 20px;
}

.nav-item {
    width: 50%;
    text-align: center;
}

.tab-content {
    padding: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    /* height: 45vh; */
}

.organizations, .qr-code{
    width: 100%;
    padding: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px; */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: 10px;
    background-color: white;

}

.student-profile-page{
    height: 88.5vh;
    max-height: 88.5vh;
}
.student-info{
    padding: 10px;
    height: 40vh;
    max-height: 40vh;
    overflow-y: auto;
    overflow-x: hidden;
}
.student-profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    height: 70vh;
    max-height: 70vh;
}
.student-org-info{
    padding: 10px;
    overflow-y: auto;
    height: auto;
}
.qrcode-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 10px;
}
.student-details {

    width: 100%;
}


.profile-details{
    margin-top: 20px;
}
.qr-code h5, small{
    margin-top: 10px;
    padding: 0;
}
.student-details.flex {
    display: flex;
    justify-content: space-between;
}

/* Student Organization CSS */
.stud-org-details{
    height: 45vh;
    max-height: 45vh;
}
/* #profile{
    height: 50vh;
    max-height: 50vh;
} */
.profile {
    text-align: center;
    /* margin-top: 20px; */
    padding: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px; */
    /* height: 51vh; */

}
.card{
    padding: 20px;

}
.description-container {
    height: 50px;
    max-height: 50px;
    overflow-y: auto;
    display: block;
}
#profile-details{
    height: 50vh;
    max-height: 50vh;
    margin-bottom: 20px;
}
 .p{
    margin-bottom: 0 !important;
}
/* .profile img {
    margin-top: 10px;
    width: 250px;
    max-width: 35vh;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
} */
/*
#profileImage:hover {
    cursor: pointer;
    border: 5px solid #60b192;
} */

#profileImage:hover {
    /* background-color: blue; */
    cursor: pointer;
    /* border: 5px solid #60b192; */
    background-color: rgba(0, 0, 0, 0.5);
}
.profile {
    display: flex;
    justify-content: center;
    align-items: center;

}

.image-container {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* border: 2px solid #fff; */
}

.hover-label {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.profile:hover .hover-label {
    opacity: 1;
}

 .additional-input{
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px; */
    border-radius: 10px;
    background-color: white;
    height: 31.5vh;
    max-height: 31.5vh;
    overflow-y: auto;
}


.roles .organization-partners{
    flex: 1;
    margin-right: 20px;
}
.organization-details{
    display: flex;
    height: 40vh;
    max-height: 40vh;
    overflow-y: auto;
}


.additional-input{
    display: flex;
}

@media (max-width: 768px) {
    .qr-code {
        padding: 10px;
        border-radius: 10px;
        background-color: white;
        height: auto;
    }
    .profile-details{
        text-align: center;
        margin-top: 10px;
    }
    .qrcode-img {
        width: auto;
        padding: 10px;
        text-align: center;
    }

    .qr-code h4 {
        font-weight: bold;
    }

    .qr-code h5,
    small {
        margin-top: 10px;
        padding: 0;
    }

        /* .profile img {
            width: 70%;
            margin: 10px auto;
        } */

    .profile, #profile {
        height: auto;
    }
    h4{
        font-size: 15px;
    }
   h6, th{
        font-size: 12px;
    }
    .student-details{
        height: 30vh;
        max-height: 30vh;
        overflow-y: auto;
    }
    .org-officers,
    .organization-partners {
        flex: 1; /* Reset flex property */
        margin-right: 60px;
        width: 100%;
    }
    .table{
        width: 100%;
    }
    .org-under-info{
        font-size: 13px;
    }
    .btn{
        font-size: 15px;
    }

}

