#announcement-container {
    height: 60vh;
    max-height: 60vh;
    border: none;
  }

  .announcement-cards-list, .event-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 65vh;
    height: 65vh;
  }
  .ellipsis-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .announcement-card {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    height: 200px;
  }

  .view-button {
    background-color: transparent;
    color: #9b9b9b;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    margin-top: auto;
    align-self: flex-end;
    font-size: 20px;
  }
  .announcement-list {
    max-height: 70vh;
    height: 70vh;
    }
