/* table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
} */

/* th,
td {
    padding: 8px;

} */
.accountability-cards-list {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    height: 70vh;
    max-height: 70vh;
}
.stud-accountability-card {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    width: calc(33.33% - 30px);
    height: 200px;
}

/* td{
    text-align: center;
} */
.scroll-attendance {
    height: 70vh;
    max-height: 70vh;
    overflow-y: auto;

    margin-top: 5px;
}
.absent {
    color: #940b0b; /* Red color for absent */
    font-weight: bold;
}

.present {
    color: #1db64e; /* Green color for present */
    font-weight: bold;
}

#accountabilities-table {
    background-color: white;

    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); */
}
/* #accountabilities-table tr:nth-child(even) {
    background-color: #f8f8f8;

} */
.paid,
.cleared {
    color: green;
    font-weight: bold;
}

.unpaid,
.not-cleared {
    color: red;
    font-weight: bold;
}

.modal-content {
    border: none;
}

#edit-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vh; /* Adjust the width as needed */
    background-color: #fff;
    z-index: 1;
    height: 75vh;
    max-height: 65vh;
}
.sortable-header {
    background-color: #53967c;
    color: white;
    text-align: center;
}

.modal {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.form-control:disabled,
.form-control[readonly] {
    background-color: #ececec;
    opacity: 1;
}
#btn-accountabilities {
    width: 200px;
    margin: 0 auto;
}

/* Set Accountabilities */
.accountabilities-container {
    height: 68vh;
    max-height: 68vh;
    overflow-y: auto;
    border: none;
}

.accountabilities-cards {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 65vh;
}
.accountability-card {
    background-color: #ffffff;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    width: calc(33.33% - 20px);
    height: 200px;
}
.ellipsis-button {
    position: absolute;
    top: 10px;
    right: 10px;
}

@media (max-width: 768px) {
    /* table {
        border-collapse: collapse;
        width: 100%;
        margin: 0 auto;
    } */

    /* th,
    td {
        border: 1px solid #ddd;
        padding: 8px;

    } */
th{
    background-color: #84c0b4;
    color: white;
}
    .scroll-attendance {
        height: auto; /* Allow content to expand as needed */
        max-height: 70vh;
        overflow-y: auto;
        padding: 5px;
        margin-top: 5px;
    }

    /* th {
        width: 40vh;
        color: white;
    } */

    #accountabilities-table tr:nth-child(even) {
        background-color: #e9f5f3;
    }

    #edit-modal {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        /* background-color: #fff; */
        z-index: 1;
        height: auto;
        max-height: 65vh;
    }
    .modal {
        margin-top: 50px;
        border-radius: 5px;
    }

    .form-control:disabled,
    .form-control[readonly] {
        background-color: #ececec;
        opacity: 1;
    }
    .membershipfee-card,
    .fines-card {
        height: auto;
        margin-bottom: 10px;
    }
    .stud-accountability-card {
        width: 100%;
    }
    .total-payment,
    #totalPayment {
        font-size: 15px !important;
    }
    .accountability-card {
        width: 100%;
        height: auto;
    }
    .alert {
        font-size: 13px;
    }
}
