
body {
    background-color: #f3f7fb;
    font-family: sans-serif;

}

.Message-IfEmpty {
    text-align: center;
    background-color: rgb(233, 233, 233);
    padding: 10px;
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); */
    margin: auto;
    margin-top: 30%;
}

#icon-message {
    font-size: 5em;
    color: #d6e7e1;
}


.empty-container {
    font-size: 1.2em;
    margin-top: 10px;
}

.Container-IfEmpty {
    text-align: center;
    padding: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); */
    margin: auto;
    margin-top: 10%;
  }

  .Empty-Message {
    font-size: 1.2em;
  }
.fa-search{
    color: #42b385;
}
.p{
    color: #283739;
}
.content {
    /* margin-left: 14.375%; */
    height: 100%;
    padding: 1.20rem;
    transition: margin-left 0.3s ease-in-out;

}

.content.collapsed {
    margin-left: 4.5%;
}

.hidden
{
    display: none;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    border-radius: 10px;
    margin-top: 20px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    padding: 10px;
    /* background-color: #ffffff; */
    border-radius: 10px;
}
.col{
    width: 100%;
    height: 100%;
}

#tablecontainer{
    border-radius: 10px;
    margin-top: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); */
    background-color: #ffffff;
}
#evaluationform{
    border-radius: 10px;
    width: 80%;
    margin-top: 50px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); */
    padding: 15px;
    background-color: #ffffff;
}

.transparent-btn {
    background-color: transparent;
    border-color: transparent;
    color: grey;
}

#containers{
    border-radius: 10px;
    margin-top: 5px;
    padding: 15px;
    background-color: #ffffff;
}
.breadcrumbs{
    margin-top: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}
.select-dropdown{
    border-radius: 10px;
    margin-top: 10px;
    width: 40%;
    position: relative;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);

}
.select-dropdown select {
    width: 100%;
    height: 80%;
    padding: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-align: center;
    border: none;
    background-color: white;
}


/* Arrow icon */
.select-dropdown::after {
    content: '\25BC';
    font-size: 12px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}
.input-container {
    position: relative;
  }

  .input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .input-container input {
    padding-left: 30px;
    width: 70%;
    height: 90%;
    border-radius: 15px;
    border: none;
    background-color: white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
  }
.sort-btn{
    font-size: 20px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    margin-right: 2px;
    height: auto;
    border-radius: 10px;

}
.select-dropdown {
    width: 50%;
    margin-bottom: 10px;
}
.head-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

.input-container input {
    width: 100%;
    height: 50px;
}

/* Message if empty */
.Message-IfEmpty {
    text-align: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
}


/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {

    /* SEARCH BAR-SORT-DROPDOWN */
    .select-dropdown {
        width: 100%;
    }

    .input-container {
        width: 100%;
        height: 80px;
        font-size: 15px;
        padding: 10px;
    }

    .input-container i, input {
        width: 100%;
        padding: 10px;
    }

    .sort-btn {
        width: 50px;
    }
    .select-dropdown{
        width: 60%;
        font-size: 9px;
    }
    .container{
        margin-top: 10px;
    }
    .breadcrumbs{
        margin-top: 30px;
    }
    #tablecontainer{
        overflow-x: auto;
    }

}
