

body {
    background-color: #f3f7fb;
    font-family: sans-serif;
    /* font-family: "Trebuchet MS", Helvetica, sans-serif; */
    color: #4a5864;
    padding-bottom: 0;
}
footer {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    height: 30px;
    /* z-index: 1000; */
}
#calendar button{
    background-color: #60b192 !important;
}
.modal-header .btn-close{
    background-color: transparent !important;
}
.btn{
    border: none;
}
.btn-danger{
    background-color: #f1625f !important;
    color: #ffff;
}
.btn-success{
    background-color: #347961 !important;
    color: #ffff;
}

.btn-secondary{
    background-color: #e0e0e1 !important;
    color: #4a5864;
    transition: background-color 0.3s, color 0.3s;
}
.btn-secondary:hover {
    background-color: #a8a8a9 !important;
}
.button-secondary{
    background-color: #e9eef3;
}


.Message-IfEmpty, .Dashboard-IfEmpty {
    text-align: center;
    background-color: rgb(233, 233, 233);
    padding: 10px;
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); */
    margin: auto;
    margin-top: 20%;
}


#icon-message {
    font-size: 5em;
    color: #d6e7e1;
}


.empty-container {
    font-size: 1.2em;
    margin-top: 10px;
}
.circular-image {
    border-radius: 50%;
}
.posted-by-title{
    padding: 5px;
 }
/* .Container-IfEmpty {
    text-align: center;
    padding: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
  } */

  .Empty-Message {
    font-size: 1.2em;
  }
.fa-search{
    color: #42b385;
}
.p{
    color: #001524;
}
/* .content { */
    /* margin-left: 14.375%; */
    /* height: 100%;
    padding: 1.20rem;
    transition: margin-left 0.3s ease-in-out;

} */

/* .content.collapsed {
    margin-left: 4.5%;
} */

.hidden
{
    display: none;
}

/* .container {
    width: 100%; */
    /* border-radius: 10px; */
    /* margin-top: 10px; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    /* padding: 10px; */
    /* background-color: #ffffff; */
    /* border-radius: 10px; */
/* } */
.col{
    width: 100%;
    height: auto;
}

#tablecontainer{
    /* border-radius: 10px; */
    margin-top: 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: #ffffff;
}
#evaluationform{
    border-radius: 10px;
    width: 80%;
    margin-top: 50px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    padding: 15px;
    background-color: #ffffff;
}

.transparent-btn {
    background-color: transparent;
    border-color: transparent;
    color: grey;
}

#containers{
    border-radius: 10px;
    margin-top: 5px;
    padding: 15px;
    background-color: #ffffff;
}
.breadcrumbs{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    background-color: #ffffff;
    width: 100%;
     border-radius: 10px;
     padding: 10px;
     margin-top: 40px;
}
.select-dropdown{
    border-radius: 10px;
    margin-top: 10px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

}
.select-dropdown select {
    width: 100%;
    height: 80%;
    padding: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    text-align: center;
    border: none;
    background-color: white;
}


/* Arrow icon */
.select-dropdown::after {
    content: '\25BC';
    font-size: 12px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
}
/* .ellipsis-button{
    background-color: #edf1f1 !important;
} */
.dropdown-item.active, .dropdown-item:active{
    background-color:#6ec0a1 !important;
}

.table-buttons {
    border-radius: 30px;
    padding: 4px 10px;
    justify-content: center;
    text-align: center;
    font-size: 10px !important;
    display: flex;
    gap: 5px;
    align-items: center;
    }

    .table-buttons i {
    color: #525a58;
    }

.input-container {
    position: relative;
  }

  .input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .input-container input {
    padding-left: 30px;
    width: 70%;
    height: 90%;
    border-radius: 10px;
    border: none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }
/* .sort-btn{
    font-size: 20px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
    margin-right: 2px;
    height: auto;
    border-radius: 10px;

} */
.select-dropdown {
    width: 50%;
    margin-bottom: 10px;
}
.head-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

.input-container input {
    width: 100%;
    height: 50px;
}


.Message-IfEmpty {
    text-align: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
}

  .Container-IfEmpty{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
  /* .Empty-Message {
    display: block;
    margin: 15px auto;
    position: relative;
  } */
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-spinner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
  }
.option{
padding: 20px !important;
}

  #table-container, #event-container, #schedule-list, #evaluation-container, #set-accountabilities, #record-container{
    position: relative;
  }


.loader {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin: 15px auto;
    position: relative;
    background: #FFF;
    box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    box-sizing: border-box;
    animation: shadowPulse 2s linear infinite;
  }

  @keyframes shadowPulse {
    33% {
      background: #FFF;
      box-shadow: -24px 0 #42b385, 24px 0 #FFF;
    }
    66% {
      background: #42b385;
      box-shadow: -24px 0 #FFF, 24px 0 #FFF;
    }
    100% {
      background: #FFF;
      box-shadow: -24px 0 #FFF, 24px 0 #42b385;
    }
  }
/*
.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
  } */

  /* .loader-spinner-container{
    text-align: center;
    padding: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 10%;
    overflow: hidden;
  } */

/* Media query for screens with a maximum width of 768px */
@media (max-width: 768px) {
    /* font sizes */
    .h3, .h2{
        font-size: 18px !important;
    }
    .h5, .h4{
        font-size: 15px !important;
    }
    .h6{
        font-size: 13px !important;
    }
    /* SEARCH BAR-SORT-DROPDOWN */
    .select-dropdown {
        width: 100%;
    }

    .input-container {
        width: 100%;
        height: 80px;
        font-size: 15px;
        padding: 10px;
    }

    .input-container i, input {
        width: 100%;
        padding: 10px;
    }

    .sort-btn {
        width: 50px;
    }
    .select-dropdown{
        width: 80% !important;
        font-size: 9px;
    }
    #sort-select{
        font-size: 13px;
    }
    .container{
        margin-top: 10px;
    }
    .breadcrumbs{
        margin-top: 30px;
        font-size: 15px;
    }
    #tablecontainer{
        overflow-x: auto;
    }
    .btn{
        font-size: 13px !important;
    }
    .pagination{
      display: none;
    }

.Message-IfEmpty, .Dashboard-IfEmpty {
    text-align: center;
    padding: 10px;
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    /* box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1); */
    margin: auto;
    margin-top: 20%;
}

#icon-message{
    font-size: 30px;
}
}
