
table {
    width: 100%;
    /* border: 1px solid #ddd;
    border-color: #ddd; */

  }

  .scroll-pane{
    height: 63vh;
    max-height:63vh;
    overflow-y: auto;
  }
  #table-list{
    height: 63vh;
    max-height: 63vh;
    overflow-y: auto;
  }
  #student-list-table, #accountabilities-table th{
    /* background-color: #69a09d; */
    font-size: 15px;
    font-weight: bold;
    padding: 5px !important;
  }
  #student-list-table td, #accountabilities-table td{

    padding: 5px !important;
  }
thead{
    background-color: #e4f8ee;
    position: sticky;
    top: 0;
}
#tableModal thead{
    position: static !important;
}
thead th{

    /* background-color: #60b192; */
    /* color: white; */
    padding: 10px;
    color: rgb(26, 26, 26);
    border-bottom: none !important;
}
  td{
    font-weight: normal;
  }
  th, td {
    text-align: left;
    border-bottom: 1px solid #ddd;
    padding: 15px;
  }
  tr:hover {
    background-color: #e8faf0;
  }

  tr:nth-child(even){
    background-color: #f6faf9;
}
.edit-button, .delete-button{
    border: 1px solid #ddf0ed;
    background-color: #e9f5f3;
}
  .edit-button i, .delete-button i {
    font-size: 13px;
  }

  /* .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

  .pagination button {
    /* padding: 8px 12px; */
    font-size: 16px;
    text-decoration: none;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
  }
  #table-container{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    padding: 5px;
    height: 73vh;
    max-height: 73vh;
    width: 100%;
    background-color: #ffffff;

}
.pagination-container, .pagination{
    margin-bottom: 0 !important;
}

/* #table-container{
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    height: 60vh;
    max-height: 60vh;
    background-color: #ffffff;
} */
  .ellipsis-button{
    background-color: transparent;
    border: none;
  }
/*
  .pagination button:disabled {
    background-color: #f2f2f2;
    color: #bbb;
    border: 1px solid #ddd;
  }

  .pagination button.current-page {
    background-color: #6388b6;
    color: #fff;
  } */

  /* .scroll-pane {
    height: 55vh;
    max-height: 55vh;
    overflow: auto;
  } */

  .pagination .page-link {
    color: #000000;
  }

  .pagination .page-link:hover {
    color: #60a17c;
  }

  .pagination .active .page-link {
    background-color: #60b192;
    border-color: #60b192;
    color: #fff;
  }
/* Media Query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
    table {
      width: 100%;
      border: 1px solid #ddd;
      font-size: 10px;
    }

    th {
      background-color: #e7eaee;
      color: rgb(31, 31, 31);
      font-size: 14px;
    }

    td {
      font-size: 12px;
    }

    .pagination {
      margin-top: 10px;
    }

    .pagination button {
      font-size: 14px;
    }

    .scroll-pane {
      height: auto;
      overflow: auto;
    }
    td .btn{
        font-size: 10px;
    }
.btn-group{
    font-size: 10px;
}
  }
