table {
    width: 100%;
    border: 1px solid #ddd;
    border-color: #ddd;
}
#table-list {
    height: 60vh;
    max-height: 60vh;
    overflow-y: auto;
}
#student-list-table,
#accountabilities-table th {
    /* background-color: #69a09d; */
    height: 50px;
    font-size: 15px;
    font-weight: bold;
    padding: 5px !important;
}

thead {
    background-color: rgb(119, 177, 165) !important;
    color: #f7f7f7;
    position: sticky;
    height: 30px;
    top: 0;
}
#tableModal thead {
    position: static !important;
}
thead th {
    /* background-color: #60b192; */
    /* color: white; */
    padding: 10px;
    /* color: rgb(71, 71, 71); */
    /* border-bottom: none !important; */
}
td {
    font-weight: normal;
    padding: 5px;
}
th,
td {
    text-align: left;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
tr:hover {
    background-color: #dceee4 !important;
    color: #000000 !important;
}

tr:nth-child(even) {
    background-color: #f6faf9;
    color: #000000;
}
.edit-button,
.delete-button {
    border: 1px solid #ddf0ed;
    background-color: #e9f5f3;
}
.edit-button i,
.delete-button i {
    font-size: 13px;
}

/* .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */

.pagination button {
    /* padding: 8px 12px; */
    font-size: 16px;
    text-decoration: none;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
}
#table-container {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    padding: 10px;
    width: 100%;
    background-color: #ffffff;
}
.pagination-container,
.pagination {
    margin-bottom: 0 !important;
}

.ellipsis-button {
    background-color: transparent;
    border: none;
}
/*
  .pagination button:disabled {
    background-color: #f2f2f2;
    color: #bbb;
    border: 1px solid #ddd;
  }

  .pagination button.current-page {
    background-color: #6388b6;
    color: #fff;
  } */

/* .scroll-pane {
    height: 55vh;
    max-height: 55vh;
    overflow: auto;
  } */

.pagination .page-link {
    color: #000000;
}

.pagination .page-link:hover {
    color: #60a17c;
}

.pagination .active .page-link {
    background-color: #60b192;
    border-color: #60b192;
    color: #fff;
}
/* Media Query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
    table {
        width: 100%;
        border: 1px solid #ddd;
        font-size: 10px;
    }

    th {
        color: rgb(31, 31, 31);
        font-size: 14px;
    }

    td {
        font-size: 12px;
    }

    .pagination {
        margin-top: 10px;
    }

    .pagination button {
        font-size: 14px;
    }

    .scroll-pane {
        height: auto;
        overflow: auto;
    }
    td .btn {
        font-size: 14px;
    }

}
