
table {
    width: 100%;
    /* border: 1px solid #ddd;
    border-color: #ddd; */

  }

  .scroll-pane{
    height: 100vh;
    max-height: 100vh;
  }
  #student-list-table, #accountabilities-table th{
    /* background-color: #69a09d; */
    font-size: 15px;
    font-weight: bold;
  }
thead th{
    position: sticky;
    top: 0;
    /* background-color: #60b192; */
    /* color: white; */
    color: black;
}
  td{
    font-size: 14px;
  }
  th, td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  tr:hover {
    background-color: #eee8e8;
  }

  tr:nth-child(even){
    background-color: #e9f5f3;
}

  .edit-button i, .delete-button i {
    font-size: 16px; /* Adjust the font size as needed */
  }

  .pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pagination button {
    /* padding: 8px 12px; */
    font-size: 16px;
    text-decoration: none;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
  }
  #table-container{
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 70vh;
    max-height: 70vh;
    background-color: #ffffff;
}
/* #table-container{
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    height: 60vh;
    max-height: 60vh;
    background-color: #ffffff;
} */
  .ellipsis-button{
    background-color: transparent;
    border: none;
  }

  .pagination button:disabled {
    background-color: #f2f2f2;
    color: #bbb;
    border: 1px solid #ddd;
  }

  .pagination button.current-page {
    background-color: #6388b6;
    color: #fff;
  }

  .scroll-pane {
    height: 55vh;
    max-height: 55vh;
    overflow: auto;
  }

  .pagination .page-link {
    color: #000000; /* Change this color to your desired font color */
  }

  .pagination .page-link:hover {
    color: #60b192; /* Change this color to your desired font color on hover */
  }

  .pagination .active .page-link {
    background-color: #60b192; /* Change this color to your desired background color for the active page */
    border-color: #60b192; /* Change this color to your desired border color for the active page */
    color: #fff; /* Change this color to your desired font color for the active page */
  }
/* Media Query for screens with a maximum width of 768px */
@media screen and (max-width: 768px) {
    table {
      width: 100%;
      border: 1px solid #ddd;
      font-size: 10px;
    }

    th {
      background-color: #e7eaee;
      color: rgb(31, 31, 31);
      font-size: 14px;
    }

    td {
      font-size: 12px;
    }

    .pagination {
      margin-top: 10px;
    }

    .pagination button {
      font-size: 14px;
    }

    .scroll-pane {
      height: auto;
      overflow: auto;
    }
    td .btn{
        font-size: 10px;
    }
.btn-group{
    font-size: 10px;
}
  }
